body {
    margin: 0 ;
    padding: 100px;
    background: seagreen;
}
.container {
    margin: 0 auto;
    width: auto;
}







.header {
    width: auto;
    height: 200px;
    border: 2px solid;
    background-color: rgb(55, 13, 138);
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
li {
    font-size: 20px;
    color: aliceblue;
    transition: 3s;
}
li:hover {
    cursor: pointer;
    color: brown;
}
.content-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    background-color: aqua;
    height: 400px;
}
iframe {
    border:3px dashed red;
    border-radius: 20px;
}

img {
    height: 300px;
    width: 600px;
    border:3px dashed red;
    border-radius: 20px;
}
